.cover__description{
    max-width: 370px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width: 600px){
    .cover__description{
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}