.cover__subtitle {
    width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    margin-bottom: 245px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media screen and (width: 320px){
    .cover__subtitle{
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin: -66px 16px 33px 16px;
    }
}