.places{   
    width: 984px;
    display: grid;
    grid-template-rows: 660px 584px 584px 660px 584px;
    grid-template-columns: 984px;
    row-gap: 80px;
    grid-area: places;
    margin-left: 141px;
}

@media screen and (width: 1024px) {
    .places{
        width: 928px;
        display: grid;
        grid-template-rows: 640px 564px 564px 640px 564px;
        grid-template-columns: 928px;
        margin-left: 48px;
    }
}

@media screen and (width: 768px) {
    .places{
        width: 720px;
        display: grid;
        grid-template-rows: 581px 535px 483px 434px 484px;
        grid-template-columns: 720px;
        grid-auto-flow: dense;
        row-gap: 73px;
        margin-left: 24px;
    }
}

@media screen and (width: 320px){
    .places{
        width: 320px;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 1042px 1016px 990px 964px 965px;
        margin-left: 0;
        row-gap: 50px;
    }
}