.footer{
    width: 1184px;
    display: grid;
    grid-template-rows: 18px;
    grid-template-columns: 50px 57px 94px 86px 106px 1fr;
    align-self: end;
    margin-top: 92px;
    align-items: center;
    margin-bottom: 24px;
    justify-items: end;
}

@media screen and (width: 1024px) {
    .footer{
        width: 928px;

    }
}

@media screen and (width: 768px) {
    .footer{
        width: 720px;
    }
}

@media screen and (width: 320px){
    .footer{
        display: grid;
        grid-template-columns: 186px;
        grid-template-rows: repeat(5, 24px) calc(14px + 48px);
        margin-bottom: 24px;
        margin-left: 16px;
        margin-top: 64px;
        justify-items: start;
    }
}