.lead{
    max-width: 984px;
    grid-area: lead;
    margin-left: 148px;
    margin-top: -52px;
}

@media screen and (width: 1024px){
    .lead{
        max-width: 928px;
        margin-left: 48px;
        margin-top: 48px;
    }
}

@media screen and (width: 768px) {
    .lead{
        width: 768px;
        margin-left: 0;
        }
}

@media screen and (width: 320px){
    .lead{
        height: 406px;
        margin-left: 0;
    }
}