.lead{
    max-width: 984px;
    max-height: 1005px;
    position: absolute;
    left: 148px;
    top: 136px;
    
}

@media screen and (width: 1024px){
    .lead{
        max-width: 928px;
        max-height: 962px;
        position: absolute;
        top: 128px;
        left: 48px;
    }
}

@media screen and (width: 768px) {
    .lead{
        width: 768px;
        height: 480px;
        position: absolute;
        left: 0px;
        top: 128px;
    }
}

@media screen and (width: 320px){
    .lead{
        width: 320px;
        height: 406px;
        position: absolute;
        left: -2px;
        top: 106px;
        margin-bottom: 64px;
    }
}