.lead__subtitle{
    width: 640px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

@media screen and (width: 320px){
    .lead__subtitle{
        width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-left: 16px;
        margin-bottom: 40px;
    }
    
}