.lead__subtitle{
    width: 640px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}