.lead__subtitle{
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
}

@media screen and (max-width: 600px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 540px){
    .lead__subtitle{
        margin-bottom: 0;
        margin-top: 16px;
    }
}