.intro__text {
    width: 690px;
    height: 208px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (width: 320px){
    .intro__text{
        width: 288px;
        height: max-content;
    }
}