.cover__title{
    max-width: 550px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 600px){
    .cover__title{
        max-width: 250px;
        font-size: 32px;
        line-height: 36px;
    }
}