.place{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "title web"
    "img paragraph";
    column-gap:40px;
    row-gap: 48px;
}